.item-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;
}

a {
  display: flex;
  justify-content: flex-start;
}

a span, .icon {
  color: #4E4E4E;
}

.sidebar {
  height: 100%;
}
