:host {
  display: block;
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters div {
  display: flex;
  gap: 15px
}

app-people-table {
  flex: 1;
  min-height: 0;
}
